# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store

# Ignore build output directories
dist/
build/
